@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  text-decoration: none;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  background: #313131;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px 0px 10px;
}

.header__title {
  display: flex;
  flex-direction: column;
}
.header__title span {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #d8d8d8;
}
.header__title h2 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 22px;
}

.search__del {
  display: none;
}

.search__del.active {
  display: flex;
  z-index: 999;
  padding-right: 10px;
  position: relative;
}

.header__search_btn.none {
  display: none;
}

.header__search_btn {
  z-index: 999;
  padding-right: 10px;
  position: relative;
}

.header__serach--tool {
  position: absolute;
  top: 15px;
  padding: 0px 10px 0px 10px;
  right: 10px;
  left: 10px;
  width: 95%;
  height: auto;
  background: #747474;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 1px solid #9A9A9A;
  opacity: 0;
  transition: all ease 0.3s;
}
.header__serach--tool input {
  width: 100%;
  height: 55px;
  background: transparent;
  border: none;
  padding-right: 40px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 17px;
  outline: none;
  color: white;
}
.header__serach--tool input::-moz-placeholder {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 19px;
  color: rgb(226, 226, 226);
}
.header__serach--tool input::placeholder {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 19px;
  color: rgb(226, 226, 226);
}

.header__serach--tool.active {
  opacity: 100;
}

.item-hr {
  display: none;
  margin-bottom: 20px;
}

.item-hr.active {
  display: inline;
}

.header__tool_items {
  display: flex;
  flex-direction: column;
  transition: all ease 0.3s;
}

.header__tool_items.active {
  margin-top: 20px;
}

.header__tool-item.active {
  display: flex;
}

.header__tool-item {
  display: none;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.header__tool-item .item-weather {
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.header__tool-item h3 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 19px;
}
.header__tool-item span {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 19px;
  margin-right: 20px;
}
.header__tool-item img {
  width: 30px;
  height: 30px;
}

.error {
  display: none;
  justify-content: center;
  margin-top: 15px;
}
.error h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: rgb(199, 54, 54);
}

.error.active {
  display: flex;
}

.main {
  margin-top: 80px;
  padding: 0px 10px 0px 10px;
}

.main__hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__hero .main__hero-title h1 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 80px;
}
.main__hero .main__hero-title h2 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 24px;
}
.main__hero .main__hero-title .main__hero-min-max {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 22px;
  margin-top: 15px;
}
.main__hero .main__hero-title .main__hero-min-max--opacity {
  color: #d8d8d8;
}
.main__hero .main__hero-weather img {
  width: 130px;
  height: 130px;
}

.main__hour-city.active {
  display: flex;
}

.main__hour-city {
  display: none;
  padding: 25px 20px 25px 20px;
  margin-top: 60px;
  background: rgba(196, 196, 196, 0.3);
  border-radius: 16px;
  overflow-y: scroll;
}
.main__hour-city .main__hour-item-city {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: -999;
}
.main__hour-city .main__hour-item-city:not(:last-child) {
  margin-right: 25px;
}
.main__hour-city .main__hour-item-city .main__hour-item_time-city {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 15px;
}
.main__hour-city .main__hour-item-city .main__hour-item_temperature-city {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 15px;
}
.main__hour-city .main__hour-item-city .main__hour-item_weather-city {
  width: 35px;
  height: 35px;
  margin-bottom: 10px;
}
.main__hour-city .main__hour-item-city .main__hour-huminity-city {
  display: flex;
  align-content: center;
}
.main__hour-city .main__hour-item-city .main__hour-huminity-city .main__hour-huminity_icon-city {
  width: 16px;
  height: 16px;
}
.main__hour-city .main__hour-item-city .main__hour-huminity-city h5 {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 13px;
}

.main__hour.none {
  display: none;
}

.main__hour {
  display: flex;
  padding: 25px 20px 25px 20px;
  margin-top: 60px;
  background: rgba(196, 196, 196, 0.3);
  border-radius: 16px;
  overflow-y: scroll;
}
.main__hour .main__hour-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: -999;
}
.main__hour .main__hour-item:not(:last-child) {
  margin-right: 25px;
}
.main__hour .main__hour-item .main__hour-item_time {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 15px;
}
.main__hour .main__hour-item .main__hour-item_temperature {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 15px;
}
.main__hour .main__hour-item .main__hour-item_weather {
  width: 35px;
  height: 35px;
  margin-bottom: 10px;
}
.main__hour .main__hour-item .main__hour-huminity {
  display: flex;
  align-content: center;
}
.main__hour .main__hour-item .main__hour-huminity .main__hour-huminity_icon {
  width: 16px;
  height: 16px;
}
.main__hour .main__hour-item .main__hour-huminity h5 {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 13px;
}

.main__info {
  padding: 25px 25px 25px 25px;
  margin-top: 30px;
  background: rgba(196, 196, 196, 0.3);
  border-radius: 16px;
}
.main__info .main__info-sunrise-sunset {
  display: flex;
  align-content: center;
  justify-content: space-around;
}
.main__info .sunrise-sunset {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__info .sunrise-sunset .main__info-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.main__info .sunrise-sunset .main__info-title span {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: #d8d8d8;
}
.main__info .sunrise-sunset .main__info-title h2 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 22px;
}
.main__info .main__infp_sun-img {
  width: 50px;
  height: 50px;
}
.main__info .main__info-infos {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 30px;
}
.main__info .main__info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__info .main__info-item img {
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
}
.main__info .main__info-item h2 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 5px;
}
.main__info .main__info-item span {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: #d8d8d8;
}
.main__info .main__info-item:not(:last-child) {
  margin-right: 60px;
}

.info {
  margin-top: 30px;
  padding: 0px 10px 0px 10px;
  color: #FFFFFF;
}

.info__list {
  display: flex;
  justify-content: space-around;
  align-content: center;
}
.info__list li a {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 19px;
  line-height: 23px;
}
.info__list li a:focus {
  color: #FF9D00;
}

.info__tomorrow {
  padding: 20px 20px 20px 20px;
  background: #FFFFFF;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  margin-top: 30px;
  background: #313131;
}

.info__tomorrow-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.info__tomorrow-day-time h2 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 22px;
}
.info__tomorrow-day-time h3 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: #d8d8d8;
}

.info__tomorrow-minmax-weather {
  display: flex;
  align-items: center;
}
.info__tomorrow-minmax-weather h2 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 22px;
}
.info__tomorrow-minmax-weather img {
  width: 50px;
  height: 50px;
  margin-left: 15px;
}

hr {
  background: #d8d8d8;
}

.info__tomorrow-more {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.info__tomorrow-more-title h2 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 40px;
}
.info__tomorrow-more-title h3 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-top: 5px;
}

.info__tomorrow-more-weather img {
  width: 80px;
  height: 80px;
}

.info__tmorrow-hour {
  display: flex;
  margin-top: 60px;
  border-radius: 16px;
}
.info__tmorrow-hour .info__tmorrow-hour-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info__tmorrow-hour .info__tmorrow-hour-item:not(:last-child) {
  margin-right: 25px;
}
.info__tmorrow-hour .info__tmorrow-hour-item .info__tmorrow-hour-item_time {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 15px;
}
.info__tmorrow-hour .info__tmorrow-hour-item .info__tmorrow-hour_temperature {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 15px;
}
.info__tmorrow-hour .info__tmorrow-hour-item .info__tmorrow-hour-item_weather {
  width: 35px;
  height: 35px;
  margin-bottom: 10px;
}
.info__tmorrow-hour .info__tmorrow-hour-item .info__tmorrow-hour-huminity {
  display: flex;
  align-content: center;
}
.info__tmorrow-hour .info__tmorrow-hour-item .info__tmorrow-hour-huminity .info__tmorrow-hour-huminity_icon {
  width: 16px;
  height: 16px;
}
.info__tmorrow-hour .info__tmorrow-hour-item .info__tmorrow-hour-huminity h5 {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 13px;
}

.info__tomorrow-info {
  margin-top: 30px;
}
.info__tomorrow-info .info__tomorrow-sunrise-sunset {
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.info__tomorrow-info .sunrise-sunset {
  display: flex;
  align-content: center;
}
.info__tomorrow-info .sunrise-sunset .info__tomorrow-sunrise-title span {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: #d8d8d8;
}
.info__tomorrow-info .sunrise-sunset .info__tomorrow-sunrise-title h2 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 22px;
}
.info__tomorrow-info .info__tomorrow_sun-img {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}
.info__tomorrow-info .info__tomorrow-infos {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 30px;
}
.info__tomorrow-info .info__tomorrow-infos-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info__tomorrow-info .info__tomorrow-infos-item img {
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
}
.info__tomorrow-info .info__tomorrow-infos-item h2 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 5px;
}
.info__tomorrow-info .info__tomorrow-infos-item span {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: #d8d8d8;
}
.info__tomorrow-info .info__tomorrow-infos-item:not(:last-child) {
  margin-right: 60px;
}

.footer {
  margin-top: 30px;
  padding: 0px 10px 50px 10px;
}

.footer__title h1 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 20px;
}/*# sourceMappingURL=style.css.map */