.info {
  margin-top: 30px;
  padding: 0px 10px 0px 10px;
  color: $color-black;
}

.info__list {
  display: flex;
  justify-content: space-around;
  align-content: center;

  li {
    a {
      font-family: $font-inter;
      font-weight: 700;
      font-size: 19px;
      line-height: 23px;

      &:focus {
        color: #FF9D00;
      }
    }
  }
}

.info__tomorrow {
  padding: 20px 20px 20px 20px;
  background: #FFFFFF;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  margin-top: 30px;
  background: #313131;
}

.info__tomorrow-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.info__tomorrow-day-time {
  h2 {
    font-family: $font-inter;
    font-weight: 700;
    font-size: 22px;
  }

  h3 {
    font-family: $font-inter;
    font-weight: 500;
    font-size: 13px;
    color: $color-gray;
  }
}

.info__tomorrow-minmax-weather {
  display: flex;
  align-items: center;

  h2 {
    font-family: $font-inter;
    font-weight: 700;
    font-size: 22px;

  }

  img {
    width: 50px;
    height: 50px;
    margin-left: 15px;
  }
}

hr {
  background: $color-gray;
}

.info__tomorrow-more {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.info__tomorrow-more-title {
  h2 {
    font-family: $font-inter;
    font-weight: 700;
    font-size: 40px;
  }

  h3 {
    font-family: $font-inter;
    font-weight: 400;
    font-size: 16px;
    margin-top: 5px;
  }
}

.info__tomorrow-more-weather {
  img {
    width: 80px;
    height: 80px;
  }
}

.info__tmorrow-hour {
  display: flex;
  margin-top: 60px;
  border-radius: 16px;

  .info__tmorrow-hour-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:not(:last-child) {
      margin-right: 25px;
    }

    .info__tmorrow-hour-item_time {
      font-family: $font-inter;
      font-weight: 500;
      font-size: 16px;
      margin-bottom: 15px;
    }

    .info__tmorrow-hour_temperature {
      font-family: $font-inter;
      font-weight: 500;
      font-size: 22px;
      margin-bottom: 15px;
    }

    .info__tmorrow-hour-item_weather {
      width: 35px;
      height: 35px;
      margin-bottom: 10px;
    }

    .info__tmorrow-hour-huminity {
      display: flex;
      align-content: center;

      .info__tmorrow-hour-huminity_icon {
        width: 16px;
        height: 16px;
      }

      h5 {
        font-family: $font-inter;
        font-weight: normal;
        font-size: 13px;
      }
    }
  }
}

.info__tomorrow-info {
  margin-top: 30px;

  .info__tomorrow-sunrise-sunset {
    display: flex;
    align-content: center;
    justify-content: space-between;
  }

  .sunrise-sunset {
    display: flex;
    align-content: center;

    .info__tomorrow-sunrise-title {
      span {
        font-family: $font-roboto;
        font-weight: 500;
        font-size: 13px;
        color: $color-gray;
      }

      h2 {
        font-family: $font-inter;
        font-weight: 700;
        font-size: 22px;
      }
    }
  }

  .info__tomorrow_sun-img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
  }

  .info__tomorrow-infos {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 30px;
  }

  .info__tomorrow-infos-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 30px;
      height: 30px;
      margin-bottom: 10px;
    }

    h2 {
      font-family: $font-inter;
      font-weight: 700;
      font-size: 22px;
      margin-bottom: 5px;
    }

    span {
      font-family: $font-roboto;
      font-weight: 500;
      font-size: 13px;
      color: $color-gray;
    }

    &:not(:last-child) {
      margin-right: 60px;
    }
  }
}