// How to make direction column?

.main {
  margin-top: 80px;
  padding: 0px 10px 0px 10px;
}

.main__hero {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .main__hero-title {
    h1 {
      font-family: $font-inter;
      font-weight: 700;
      font-size: 80px;
    }

    h2 {
      font-family: $font-inter;
      font-weight: 500;
      font-size: 24px;
    }

    .main__hero-min-max {
      font-family: $font-inter;
      font-weight: 500;
      font-size: 22px;
      margin-top: 15px;
    }

    .main__hero-min-max--opacity {
      color: $color-gray;
    }
  }

  .main__hero-weather {
    img {
      width: 130px;
      height: 130px;
    }
  }
}

.main__hour-city.active {
  display: flex;
}

.main__hour-city {
  display: none;
  padding: 25px 20px 25px 20px;
  margin-top: 60px;
  background: rgba(196, 196, 196, 0.3);
  border-radius: 16px;
  overflow-y: scroll;

  .main__hour-item-city {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -999;

    &:not(:last-child) {
      margin-right: 25px;
    }

    .main__hour-item_time-city {
      font-family: $font-inter;
      font-weight: 500;
      font-size: 16px;
      margin-bottom: 15px;
    }

    .main__hour-item_temperature-city {
      font-family: $font-inter;
      font-weight: 500;
      font-size: 22px;
      margin-bottom: 15px;
    }

    .main__hour-item_weather-city {
      width: 35px;
      height: 35px;
      margin-bottom: 10px;
    }

    .main__hour-huminity-city {
      display: flex;
      align-content: center;

      .main__hour-huminity_icon-city {
        width: 16px;
        height: 16px;
      }

      h5 {
        font-family: $font-inter;
        font-weight: normal;
        font-size: 13px;
      }
    }
  }
}

.main__hour.none {
  display: none;
}

.main__hour {
  display: flex;
  padding: 25px 20px 25px 20px;
  margin-top: 60px;
  background: rgba(196, 196, 196, 0.3);
  border-radius: 16px;
  overflow-y: scroll;



  .main__hour-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -999;

    &:not(:last-child) {
      margin-right: 25px;
    }

    .main__hour-item_time {
      font-family: $font-inter;
      font-weight: 500;
      font-size: 16px;
      margin-bottom: 15px;
    }

    .main__hour-item_temperature {
      font-family: $font-inter;
      font-weight: 500;
      font-size: 22px;
      margin-bottom: 15px;
    }

    .main__hour-item_weather {
      width: 35px;
      height: 35px;
      margin-bottom: 10px;
    }

    .main__hour-huminity {
      display: flex;
      align-content: center;

      .main__hour-huminity_icon {
        width: 16px;
        height: 16px;
      }

      h5 {
        font-family: $font-inter;
        font-weight: normal;
        font-size: 13px;
      }
    }
  }
}

.main__info {
  padding: 25px 25px 25px 25px;
  margin-top: 30px;
  background: rgba(196, 196, 196, 0.3);
  border-radius: 16px;

  .main__info-sunrise-sunset {
    display: flex;
    align-content: center;
    justify-content: space-around;
  }

  .sunrise-sunset {
    display: flex;
    flex-direction: column;
    align-items: center;

    .main__info-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 10px;

      span {
        font-family: $font-roboto;
        font-weight: 500;
        font-size: 13px;
        color: $color-gray;
      }

      h2 {
        font-family: $font-inter;
        font-weight: 700;
        font-size: 22px;
      }
    }
  }

  .main__infp_sun-img {
    width: 50px;
    height: 50px;
  }

  .main__info-infos {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 30px;
  }

  .main__info-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 30px;
      height: 30px;
      margin-bottom: 10px;
    }

    h2 {
      font-family: $font-inter;
      font-weight: 700;
      font-size: 22px;
      margin-bottom: 5px;
    }

    span {
      font-family: $font-roboto;
      font-weight: 500;
      font-size: 13px;
      color: $color-gray;
    }

    &:not(:last-child) {
      margin-right: 60px;
    }
  }
}